@import '../../variables.scss';

main.crew{
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: url('../../assets/crew/background-crew-mobile.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr;

    section {
        color: white;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;

        h1 {
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 2.7px;
            color: white;
            margin-top: -70px;
            margin-bottom: 30px;
            span{
                font-weight: 700;
                color: $darkGrey;
                margin-right: 10px;
            }   
        }

        div.imageContainer{
            width: 327px;
            height: 223px;
            display: flex;
            justify-content: center;
            margin-bottom: 32px;

            border-bottom: .25px solid $darkGreyAlpha;
            .crewPhoto{
                height: 100%;
                width: auto;
                
            }
        } 
        
        div.detailsContainer {
                width: 327px;
                height: 212px;
                display: flex;
                flex-direction: column;
                align-items: center;
            ul{
                list-style: none;
                display: flex;
                width: 88px;
                justify-content: space-between;
                margin-bottom: 32px;
                li {
                    width: 10px;
                    height: 10px;
                    border-radius: 50%;
                    background-color: $darkGrey;
                    cursor: pointer;

                }
                li.activeCrew {
                    background-color: white;
                }
            }
            div.textContainer{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                font-family: 'Bellefair', serif;
                text-align: center;

                div {
                    height: 54px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    margin-bottom: 16px;
                    
                    h3{
                        font-size: 16px;
                        font-weight: 100;
                        text-transform: uppercase;
                        color: $darkGrey;
                    }

                    h2{
                        font-size: 24px;
                        font-weight: 300;
                        text-transform: uppercase;
                    }  
                }
                

                p{  
                    height: 100px;
                    font-family: 'Barlow', sans-serif;
                    font-size: 15px;
                    font-weight: 200;
                    line-height: 23px; 
                }
            }
        }
    }
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1440px) {
    
}