main.crew {
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;
  background-image: url("../../assets/crew/background-crew-mobile.jpg");
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-rows: auto 1fr;
}
main.crew section {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
main.crew section h1 {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2.7px;
  color: white;
  margin-top: -70px;
  margin-bottom: 30px;
}
main.crew section h1 span {
  font-weight: 700;
  color: #979797;
  margin-right: 10px;
}
main.crew section div.imageContainer {
  width: 327px;
  height: 223px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  border-bottom: 0.25px solid rgba(151, 151, 151, 0.2);
}
main.crew section div.imageContainer .crewPhoto {
  height: 100%;
  width: auto;
}
main.crew section div.detailsContainer {
  width: 327px;
  height: 212px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main.crew section div.detailsContainer ul {
  list-style: none;
  display: flex;
  width: 88px;
  justify-content: space-between;
  margin-bottom: 32px;
}
main.crew section div.detailsContainer ul li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(151, 151, 151, 0.2);
  cursor: pointer;
}
main.crew section div.detailsContainer ul li:hover {
  background-color: #D0D6F9;
}
main.crew section div.detailsContainer ul li.activeCrew {
  background-color: white;
}
main.crew section div.detailsContainer div.textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Bellefair", serif;
  text-align: center;
}
main.crew section div.detailsContainer div.textContainer div {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 16px;
}
main.crew section div.detailsContainer div.textContainer div h3 {
  font-size: 16px;
  font-weight: 100;
  text-transform: uppercase;
  color: #979797;
}
main.crew section div.detailsContainer div.textContainer div h2 {
  font-size: 24px;
  font-weight: 300;
  text-transform: uppercase;
}
main.crew section div.detailsContainer div.textContainer p {
  height: 100px;
  font-family: "Barlow", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 23px;
}

@media screen and (min-width: 768px) {
  main.crew {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
  }
  main.crew section {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: auto;
  }
  main.crew section h1 {
    text-align: center;
    margin-right: 480px;
    grid-row: 1/2;
    font-size: 20px;
    letter-spacing: 3.38px;
    margin-top: 25px;
    margin-bottom: 0px;
  }
  main.crew section div.imageContainer {
    grid-row: 3/4;
    width: auto;
    height: 532px;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 0;
    border-bottom: 0.25px solid rgba(151, 151, 151, 0.2);
  }
  main.crew section div.detailsContainer {
    margin-left: auto;
    margin-right: auto;
    grid-row: 2/3;
    height: 232px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 65px;
  }
  main.crew section div.detailsContainer ul {
    margin-bottom: 0;
  }
  main.crew section div.detailsContainer div.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  main.crew section div.detailsContainer div.textContainer div {
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  main.crew section div.detailsContainer div.textContainer div h3 {
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 10px;
  }
  main.crew section div.detailsContainer div.textContainer div h2 {
    font-size: 40px;
  }
  main.crew section div.detailsContainer div.textContainer p {
    height: 100px;
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 5px;
  }
  main.crew section div.detailsContainer.douglas {
    width: 458px;
  }
  main.crew section div.detailsContainer.mark {
    width: 520px;
  }
  main.crew section div.detailsContainer.victor {
    width: 592px;
  }
  main.crew section div.detailsContainer.ano {
    width: 536px;
  }
}
@media screen and (min-width: 1440px) {
  main.crew {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
  }
  main.crew section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 70px auto 1fr;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    max-width: 1440px;
    min-height: 900px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  main.crew section h1 {
    position: absolute;
    left: 166.5px;
    top: 69px;
    font-size: 28px;
    letter-spacing: 4.72px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    justify-self: flex-start;
    margin-left: 0;
  }
  main.crew section h1 span {
    font-weight: 700;
    margin-right: 10px;
  }
  main.crew section .imageContainer {
    grid-row: 2/4;
    grid-column: 2/3;
    width: auto;
    height: 100%;
    display: flex;
    align-self: flex-end;
    justify-content: center;
    padding-top: 0px;
  }
  main.crew section .imageContainer .crewPhoto {
    height: 100%;
    width: auto;
  }
  main.crew section div.detailsContainer {
    margin-left: auto;
    margin-right: auto;
    grid-row: 3/4;
    grid-column: 1/2;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-start;
    justify-self: center;
    padding-left: 55px;
  }
  main.crew section div.detailsContainer ul {
    list-style: none;
    display: flex;
    width: 132px;
    justify-content: space-between;
    margin-bottom: 100px;
    margin-top: 10rem;
  }
  main.crew section div.detailsContainer ul li {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgba(151, 151, 151, 0.2);
    cursor: pointer;
  }
  main.crew section div.detailsContainer div.textContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    text-align: start;
    position: relative;
  }
  main.crew section div.detailsContainer div.textContainer div {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 40px;
    position: absolute;
    width: 50vw;
    top: 85px;
  }
  main.crew section div.detailsContainer div.textContainer div h3 {
    font-size: 32px;
    font-weight: 100;
    margin-bottom: 10px;
  }
  main.crew section div.detailsContainer div.textContainer div h2 {
    font-size: 56px;
  }
  main.crew section div.detailsContainer div.textContainer p {
    height: 100px;
    font-family: "Barlow", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 35px;
    margin-top: 220px;
  }
  main.crew section div.detailsContainer.douglas, main.crew section div.detailsContainer.mark,
  main.crew section div.detailsContainer.victor, main.crew section div.detailsContainer.ano {
    width: 444px;
  }
}/*# sourceMappingURL=Crew.css.map */