@import '../../variables.scss';

main.technology {
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    background-image: url('../../assets/technology/background-technology-mobile.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-rows: auto 1fr;
    
    section {
        width: 100%;
        color: white;
        margin: 0 auto;
        color: white;
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
        h1 {
            font-weight: 400;
            font-size: 16px;
            letter-spacing: 2.7px;
            color: white;
            margin-bottom: 30px;
            span{
                font-weight: 700;
                color: $darkGrey;
                margin-right: 10px;
            }   
        }
        .techImage{
            width: 100%;
            height: 170px;
            margin-bottom: 34px;
           
        }
        ul{
            list-style: none;
            display: flex;
            width: 152px;
            justify-content: space-between;
            margin-bottom: 24px;
            li {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                border: 1px solid $darkGrey;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                span{
                    margin-bottom: 3px;
                }
            }
            li:hover {
                background-color: $darkGreyAlpha;
            }
            li.activeSelector {
                background-color: white;
                color: black;
            }
        }div.textContainer{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-family: 'Bellefair', serif;
            text-align: center;
            margin: 0 24px;

            div {
                height: 54px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin-bottom: 16px;
                
                h2{
                    font-size: 14px;
                    font-weight: 100;
                    text-transform: uppercase;
                    color: $darkGrey;
                }
                h3{
                    font-size: 24px;
                    font-weight: 300;
                    text-transform: uppercase;
                }  
            }
            p{  
                height: 100px;
                font-family: 'Barlow', sans-serif;
                font-size: 15px;
                word-wrap: normal;
                font-weight: 300;
                line-height: 23px; 
                margin-bottom: 110px;
            }
        }
    }
}


@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1440px) {
    
}