main.home {
    font-family: 'Barlow Condensed', sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url('../assets/home/background-home-mobile.jpg');
    background-size: cover;
    background-position: center;
  
    section {
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 10px 24px 0 24px;
  
      .textContainer {
        margin-top: 2px;
        width: 327px;
        height: 276px;
  
        h2 {
          margin: 0;
          padding: 0;
          font-weight: 200;
          font-size: 16px;
          letter-spacing: 2.7px;
          margin-bottom: 22px;
        }
  
        h1 {
          font-family: 'Bellefair', serif;
          margin: 0;
          padding: 0;
          font-size: 80px;
          font-weight: 300;
          margin-bottom: 23px;
        }
  
        p {
          color: white;
          font-family: 'Barlow', sans-serif;
          font-weight: 300;
          font-size: 15px;
          line-height: 25px;
          padding: 5px;
        }
      }
  
      .circleContainer {
        height: fit-content;
        display: flex;
        width: 100%;
        flex-grow: 1;
        position: relative;
        align-items: flex-end;
        z-index: 3;
      
        .circle {
          margin-bottom: 150px;
          margin-left: auto;
          margin-right: auto;
          color: black;
          display: flex;
          align-items: center;
          justify-content: center;
          position: relative;
      
          .explore {
            height: 150px;
            width: 150px;
            border-radius: 50%;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: 'Bellefair', serif;
            font-size: 20px;
            letter-spacing: 1.25px;
            z-index: 2;
          }
        }
        
        .hoverCircle {
          position: absolute;
          height: 130px;
          width: 130px;
          border-radius: 50%;
          background-color: pink;
          opacity: 1;
          margin-left: auto;
          margin-right: auto;
          z-index: 1;
          transition: .4s ease-in-out;
        }
        
        .circle:hover .hoverCircle {
          height: 210px;
          width: 210px;
          opacity: 1;
        }
      }
    }
  }

@media screen and (min-width: 768px) {
    main.home {
        font-family: 'Barlow Condensed', sans-serif;    
        box-sizing: border-box;
        height: 100vh;
        width: 100%;
        overflow: hidden;
        background-image: url('../assets/home/background-home-tablet.jpg');
        background-size: cover;
        background-position: center;
    
        section {   
            height: 100%;
            color: white;
            display: flex;
            flex-direction: column;
            text-align: center;
            padding: 10px 24px 0 24px;
            
            h2{
                font-size: 20px;
                letter-spacing: 3.38px;
                margin-bottom: 14px;
            }
            h1{            
                font-size: 150px;
                margin-bottom: 25px;
            }
            p{
                font-size: 16px;
                line-height: 25px;
                padding: 5px;
            }
            .circleContainer {
                height: fit-content;
                display: flex;
                height: 100%;
                align-items: flex-end;
                justify-content: center;
                flex-grow: 1;
            }
            .circle {
                margin-bottom: 152px;
                height: 242px;
                width: 242px;
                
                display: flex;
                align-items: center;
                justify-content: center;
                :first-child{
                    font-size: 32px;
                    letter-spacing: 2px;
                }
            }
        }
    }
}

@media screen and (min-width: 1440px) {
    
}