main.home {
  font-family: "Barlow Condensed", sans-serif;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-image: url("../assets/home/background-home-mobile.jpg");
  background-size: cover;
  background-position: center;
}
main.home section {
  height: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px 24px 0 24px;
}
main.home section .textContainer {
  margin-top: 2px;
  width: 327px;
  height: 276px;
}
main.home section .textContainer h2 {
  margin: 0;
  padding: 0;
  font-weight: 200;
  font-size: 16px;
  letter-spacing: 2.7px;
  margin-bottom: 22px;
}
main.home section .textContainer h1 {
  font-family: "Bellefair", serif;
  margin: 0;
  padding: 0;
  font-size: 80px;
  font-weight: 300;
  margin-bottom: 23px;
}
main.home section .textContainer p {
  color: white;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  padding: 5px;
}
main.home section .circleContainer {
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  width: 100%;
  flex-grow: 1;
  position: relative;
  align-items: flex-end;
  z-index: 3;
}
main.home section .circleContainer .circle {
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
main.home section .circleContainer .circle .explore {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Bellefair", serif;
  font-size: 20px;
  letter-spacing: 1.25px;
  z-index: 2;
}
main.home section .circleContainer .hoverCircle {
  position: absolute;
  height: 130px;
  width: 130px;
  border-radius: 50%;
  background-color: #979797;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  transition: 0.4s ease-in-out;
}
main.home section .circleContainer .circle:hover .hoverCircle {
  height: 210px;
  width: 210px;
  opacity: 1;
}

@media screen and (min-width: 768px) {
  main.home {
    background-image: url("../assets/home/background-home-tablet.jpg");
  }
  main.home section .textContainer {
    margin-top: 93px;
    width: 450px;
    height: 334px;
  }
  main.home section .textContainer h2 {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 20px;
    letter-spacing: 3.38px;
    margin-bottom: 10px;
  }
  main.home section .textContainer h1 {
    font-family: "Bellefair", serif;
    margin: 0;
    padding: 0;
    font-size: 150px;
    font-weight: 300;
    margin-bottom: 12px;
  }
  main.home section .textContainer p {
    color: white;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 27px;
    padding: 0px;
  }
  main.home section .circleContainer {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    width: 100%;
    flex-grow: 1;
    position: relative;
    align-items: flex-end;
    z-index: 3;
  }
  main.home section .circleContainer .circle {
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  main.home section .circleContainer .circle .explore {
    height: 242px;
    width: 242px;
    font-size: 32px;
    letter-spacing: 2px;
    z-index: 2;
  }
  main.home section .circleContainer .hoverCircle {
    height: 210px;
    width: 210px;
  }
  main.home section .circleContainer .circle:hover .hoverCircle {
    height: 300px;
    width: 300px;
    opacity: 1;
  }
}
@media screen and (min-width: 1440px) {
  main.home {
    font-family: "Barlow Condensed", sans-serif;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    background-image: url("../assets/home/background-home-desktop.jpg");
    background-size: cover;
    background-position: center;
  }
  main.home section {
    height: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }
  main.home section .textContainer {
    margin-right: 165px;
    width: 327px;
    height: 276px;
  }
  main.home section .textContainer h2 {
    margin: 0;
    padding: 0;
    font-weight: 200;
    font-size: 28px;
    letter-spacing: 4.72px;
    margin-bottom: 22px;
  }
  main.home section .textContainer h1 {
    font-family: "Bellefair", serif;
    margin: 0;
    padding: 0;
    font-size: 150px;
    font-weight: 300;
    margin-bottom: 23px;
  }
  main.home section .textContainer p {
    color: white;
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    padding: 5px;
  }
  main.home section .circleContainer {
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    width: auto;
    flex-grow: 0;
    position: relative;
    align-items: flex-end;
    z-index: 3;
    margin-left: 165px;
  }
  main.home section .circleContainer .circle {
    margin: 0;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  main.home section .circleContainer .circle .explore {
    height: 274px;
    width: 274px;
    font-size: 32px;
    letter-spacing: 2px;
    z-index: 2;
  }
  main.home section .circleContainer .hoverCircle {
    position: absolute;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-color: #979797;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    transition: 0.4s ease-in-out;
  }
  main.home section .circleContainer .circle:hover .hoverCircle {
    height: 340px;
    width: 340px;
    opacity: 1;
  }
}/*# sourceMappingURL=home.css.map */