/* 
navmenu openClose icon will need z index higher than slide out menu 
there will be a div for the slide out menu with a bg filter to add blur of a higher px


*/
nav.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
    
    .logo {
        height: 40px;
        width: 40px;
        margin: 24px;
        
    }
    .hamburgerIcon{
        height: 21px;
        width: 24px;
        margin: 24px;
        z-index: 3;
    }
    .navMenuCloseIcon{
        height: 24px;
        width: 24px;
        margin: 24px;
        z-index: 3;
        
    }
    .slidingMenu {
        z-index: 2;
        position: absolute;
        color: white;
        right: -1200px;

        top: 0;
        height: 100vh;
        width: 67.2vw;
        max-width: 400px;
        backdrop-filter: blur(40px); 
        background-color: rgba(102, 106, 131, 0.158); 
        transition: .8s;
        
        &.navbarOpen{
            right: 0px;
        }
        ul{
            font-family: 'Barlow Condensed', sans-serif;

            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 100px 5vw;
            font-size: 16px;

            li{
                position: relative;
                margin: 15px 0;
                width: fit-content;
                height: 19px;
                display: grid;
                grid-template-columns: 30px auto;
                letter-spacing: 2px;
                :first-child{
                    font-weight: 700;
                }
            }
            li::after {
                content: '';
                position: absolute;
                left: 0;
                top: 31px;
                width: 0;
                height: 2px;
                background-color: #ffffff;
                transition: width 0.3s ease-in-out;
            }
            li:hover::after {
                width: 100%;
            }
        }
    }
    
}